.Alert {
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
}

.closeAlert {
    border: none;
    background: transparent;
    float: right;
    margin: -46px 0 0 0;
}

.primary {
    background: #add8e6;

}

.success {
    background: #90ee90;
}

.warning {
    background: #edfa78;
}

.danger {
    background: #e69e8f;
}